.active {
    border-bottom: 3px solid #00a859;
    font-weight: bold;
    color: #048569 !important;
}

.next {
    background-color: #048569;
    color: #fff;
}

.prev {
    background-color: #00a859;
}
